/* Reset and global styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image:
        linear-gradient(135deg, hsla(0, 0%, 100%, 0.548) 0%, #808080 100%),
        url('starryspace.jpg');
    background-size: cover;
    backdrop-filter: blur(10px); /* Adjust the blur effect as needed */
    background-blend-mode: overlay;
    height: 100vh; /* Ensure full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default body margin for full background */
}

.edit_profile {
    max-width: 600px;
    width: 80%; /* Adjust width as needed */
    background-color: rgba(137, 83, 238, 0.418);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

.edit_profile h2 {
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.edit_profile form {
    margin-top: 20px;
}

.edit_profile label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff;
}

.edit_profile input[type="text"],
.edit_profile input[type="date"],
.edit_profile input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7);
}

.edit_profile input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: 2.5px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(128, 0, 255);
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.edit_profile input[type="submit"]:hover {
    background-color: #ffffff;
    color: rgb(128, 0, 255);
    transform: scale(1.1);
}

.back_to_home {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: rgb(128, 0, 255);
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.2s;
    margin-top: 20px;
}

.back_to_home:hover {
    background-color: #ffffff;
    color: rgb(128, 0, 255);
    transform: scale(1.1);
}

@media (max-width: 480px) {
    .edit_profile {
        padding: 20px;
    }
}
